@page "/laanside"
@using Core
<PageTitle>Lånside</PageTitle>
<h1>Se dine lånemuligheder her</h1>

<ul class="list-group">
    @foreach (var Clothingid in Clothing)
    {
        <li class="list-group-item">
            Type: @Clothingid.Type 
            Ejer: @Clothingid.ClothingId
            <button @onclick="() => LaaneKnap(Clothingid, Brugernavn)">Lån</button>


        </li>
    }

</ul>


@code {
    
    // Øvelses data, så jeg kan se det i html
    private List<Clothing> Clothing = new List<Clothing>
    {
        new Clothing { ClothingId = 1, ClothingName = "Jakke", Type = "Overtøj" },
        new Clothing { ClothingId = 2, ClothingName = "Bukser", Type = "Undertøj" }
    };
    private User Brugernavn = new User { UserName = "Jonas" };


    private void LaaneKnap(Clothing selectedItem, User Brugernavn)
    {
        Console.WriteLine($"Brugeren: {Brugernavn.UserName} Har lånt: {selectedItem.ClothingName}");
    }
    


}