@page "/createuser"
@using Core
@using WorkShoppen.Service.Interfaces
<h3>Create User</h3>

<EditForm EditContext="@EditContext" class="row p-3" OnSubmit="HandleSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="col-md-12 mb-3">
        <label for="name">Username</label>
        <InputText id="name" @bind-Value="_model.Username" class="form-control"/>
    </div>
    <div class="col-md-6 mb-3">
        <label for="password">Password</label>
        <InputText id="password" type="password" @bind-Value="_model.Password" class="form-control"/>
    </div>
    <div class="col-md-6 mb-3">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="_model.Email" class="form-control"/>
    </div>
    <div class="col-md-6 mb-3">
        <label for="phone">Phone nr.</label>
        <InputNumber id="phone" @bind-Value="_model.PhoneNumber" class="form-control"/>
    </div>
    
    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
</EditForm>

@code {
    User _model;
    EditContext EditContext;

    [Inject] ILoginService _loginService { get; set; }

    protected async override Task OnInitializedAsync()
    {
        _model = new User();
        EditContext = new EditContext(_model);
    }

    private void HandleSubmit()
    {
        if (EditContext.Validate())
        {
            _model.Role = "user";
            _model.UserId = _loginService.GetUserIdMax() + 1;
            _loginService.CreateUser(_model);
            ResetModels();
        }
    }

    private void ResetModels()
    {
        _model = new User();
        EditContext = new EditContext(_model);
    }

}