@page "/"
@inject NavigationManager NavigationManager

<div class="container">
    <div class="box">
        <h3>Welcome to </h3>
        <img src="pictures/bestieesss.png" alt="Description of the image" class="corner-image" />
        <button @onclick="GoToLoginPage" class="button">Login</button>
        <button @onclick="GoToCreateUserPage" class="button">Create User</button>
    </div>
</div>

@code {
    private void GoToLoginPage()
    {
        NavigationManager.NavigateTo("/login/test");
    }

    private void GoToCreateUserPage()
    {
        NavigationManager.NavigateTo("/createuser");
    }
}