@page "/"

@inject NavigationManager NavigationManager

<h3>Welcome to the Homepage</h3>

<button @onclick="GoToLoginPage">Login</button>
<button @onclick="GoToCreateUserPage">Create User</button>

@code {
    private void GoToLoginPage()
    {
        NavigationManager.NavigateTo("/login/test"); 
    }

    private void GoToCreateUserPage()
    {
        NavigationManager.NavigateTo("/createuser"); 
    }
}
