@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="http://localhost:5283/createuser" target="_self">Create User</a>
            <a href="http://localhost:5283/login/test" target="_self">Login</a>
            <a class="nav-link" href="/addclothing">Tilføj tøj</a>
            
            <link href="css/custom.css" rel="stylesheet">

        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>